<p>Salut, <%= targetPeople %>,</p>
<p>mai jos vei gasi ultimile apartamente de vanzare colectate:</p>

<p><%- include('../page-partials/data-source-list.ejs', {data: list}); %></p>

<p>
  Pentru a vedea o lista completa click
  <a
    style="color: blue; font-weight: bold; text-decoration: none"
    href="<%= linkToMore %>"
    >aici</a
  >
</p>
